@model Sports.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="register-container" style="width:100%">
        <h1 style="text-align:center">@ViewBag.Title</h1>
        <hr />
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { area = "" }))
        {
            @Html.AntiForgeryToken()
            if (Model.Message != null && Model.Message.Length > 0)
            {
                <div class="row">
                    <div class="col-lg-12 @(Model.Message.Contains("Error") ? "text-danger" : "text-success")">
                        <span>@Model.Message</span>
                        @if (!Model.Message.Contains("Error"))
                        {
                            <br />
                            <span>Please go to <b>@Html.ActionLink("Login", "Index", "Login")</b> page to login using email address and password sent on mail.</span>
                        }
                        <br /><br />
                    </div>
                </div>
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.Label("Email Address", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-12 text-left">
                            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control col-lg-12" })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-md-6">
                            <button id="Submit" type="submit" class="btn btn-primary"><b>Submit</b></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
