@model Sports.Business.Repositories.Models.UserModel
@{
    ViewBag.Title = Model.Id > 0 ? "Edit Player" : "Add Players";
}

@section styles{
    @Styles.Render("~/Content/add-player")
}

<div class="d-flex justify-content-center align-items-center ">
    <div class="register-container" style="width:100%">
        @using (Html.BeginForm("Add", "Players", FormMethod.Post, new { area = "TeamCoach" }))
        {
            @Html.HiddenFor(m => m.TeamId)
            @Html.HiddenFor(m => m.RoleId)
            @Html.HiddenFor(m => m.Id)
            <h4>Add Player</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            if (ViewBag.Success != null && ViewBag.Success)
            {
                <div class="form-group text-success">
                    <span> Student registrered successfully!</span> <br />
                    <span>Please go to <b>@Html.ActionLink("Login", "Index", "Login")</b> page to login using email address and password.</span> <br /><br />
                </div>
            }

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.Label("First Name", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.Label("Last Name", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.Label("Phone Number", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.Label("Email ", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.Label("Height (in foot) ", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Height, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.Label("Weight (in kg)", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Weight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-lg-2" style="padding-right:0px"> Birth Date </label>
                        <div class="col-md-3 form-group" style="padding-left:0px">
                            <div class="input-group date" id="datetimepicker">
                                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", value = Model.BirthDate.ToString("dd-MMM-yyyy") })
                                <div class="input-group-addon input-group-append">
                                    <div class="input-group-text">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <br />
                @Html.ActionLink("Back to List", "Index", "Players", new { area = "TeamCoach", teamId = Model.TeamId }, new { @class = "col-lg-12" })
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/add-player")
}


