<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Content("/Login/Index")" style="font-size: 52px; font-family:'Times New Roman'; line-height: 50px;margin-right:50px;">TMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-item nav-link active" href="@Url.Content("/TeamCoach/Team/Index")">Home <span class="sr-only">(current)</span></a> 
                }
            </div>
        </div>
         @if (User.Identity.IsAuthenticated)
         {
             <div class="navbar-text" style="padding-right: 5rem;">
                <h3 style="font-family:'Monotype Corsiva';color:blue;margin:0px;">
                    Welcome
                    <b>@HttpContext.Current.User.Identity.Name</b>
                </h3>
            </div>
            <div class="navbar-nav" style="font-weight:bold;">
                @Html.ActionLink("Logout", "LogOut", "Login", new { area = "" }, new { @class = "nav-item nav-link active" })
            </div>
         }        
    </nav>

    <div class="container vh-100">
        @RenderBody()
    </div>
</body>
</html>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
@RenderSection("Scripts", required: false)

